# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [64]:
num = 6

print(num)

6

##### Assinging float

In [65]:
numFloat = 3.4

print(numFloat)

3.4

#### Performing Calculations on ints and floats

##### Addition

In [67]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result+= 2
print(result)

7.4
9.4

##### Subtraction

In [72]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 2
print(result_diff)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [73]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [75]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [80]:
#no matter what the result, it will be rounded down

result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [85]:
print(num1)
print(num2)

result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

2
5.4
1.4000000000000004
1.4000000000000004

##### Exponential

In [87]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [5]:
name= "5"
print(name)

#Good to note this is a string, not an integer (has quotes in code / acts like a string unless you code it as an int(), etc..)

name = "John"
print(name)

5
John

##### print() <br>
<p>Don't forget about end=' '</p>

In [10]:
print("This is my first name:", name)

print("Full Name: ", name, end=' Durand')

This is my first name: John
Full Name:  John Durand

##### String Concatenation

In [19]:
f_name = "John"
l_name = "Durand"

full_name = f_name + ' ' + l_name
print(full_name)

full_name += ", Jr"
print(full_name)

# SYNTAX NOTE:  Python var_name spaces are '_' underscores, 
# in Javascript there are no spaces for vars and all words are capitalized save the first.  
# johnDurandIsMyFirstName = JScript var

John Durand
John Durand, Jr

##### Type Conversion

In [17]:
num = '32'

change_type_num = int(num)

print(num)
print(type(num))

print(change_type_num)
print(type(change_type_num))

32
<class 'str'>
32
<class 'int'>

##### input()

In [23]:
#input will always return a string

# name = input("What is your name")
# print("Nice to meet you, " + name)

age = input("What is your age?")
add_age = int(age) + 5

#adding int solves the issue.  Good best practice.
#If name is entered, error will come up

print(add_age)

What is your age? 41
46

##### format()

In [24]:
age = input("What is your age?")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in your life!!!"
print(result_again)

What is your age? 41
You are 41 John and you are getting wiser!
41 is a great time in your life!!!

##### Old Way (python 2)

In [26]:
result_string = "You are %s and you look great for your age!" %age
print(result_string)

You are 41 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [28]:
color = input("What color is your car?")
make = input("What make is your car?")
model = input("What model is your car?")
year = input("What year is your car?")

print(f'You have a {color} {year} {make} {model}.')

What color is your car? black
What make is your car? Jeep
What model is your car? Grand Cherokee
What year is your car? 2021
You have a black 2021 Jeep Grand Cherokee.

### If Statements

In [64]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#     print("This ran!")
# else:
#     print("You are here")

if num1 < num2 or num3 > 0:
    print("This ran!")
else: 
    print("You are here")

This ran!

##### 'is' keyword

In [33]:
# is keyword being phased out.  For checking same object but not value.  == works better

num3 = 55

# if num3 is 55:
#     print("This is the exact number/object")
    
if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [34]:
# Check if a character in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [35]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("'a' is NOT there")

'a' is NOT there

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [37]:
name = input("What is your name?")

if 'p' in name:
    print(f' P is in your name')
else:
    print("P is not in your name, " + name + ".")

What is your name? John
P is not in your name, John.

## Using 'and'/'or' with If Statements

In [44]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
#If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [45]:
first_name = input("What is your first name?")

if first_name == 'Smith':
    print("The name is Smith")
elif first_name == "John":
    print("The name is John")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name IS Max")

What is your first name? Max
The name IS Max

### Else Statements

In [ ]:
# see above

### For Loops

In [49]:
# Good for automating
# Syntax
# for counter in condition

name = "John Durand"
print(name)

for i in name:
    print(i)  
    
# 'i' is commonly used in For loops

John Durand
J
o
h
n

D
u
r
a
n
d

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [52]:
name = "John Durand"

for i in name:
    if i == 'n':
        continue
    print(i)

J
o
h

D
u
r
a
d

##### Break Statement

In [ ]:
# will break out of current loop

In [51]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [55]:
name = "John Durand"

for i in name:
    if i == 'n':
        pass
    print(i)
    
# Same as continue, BUT it doesn't skip to next iteration, it just keeps running.

J
o
h
n

D
u
r
a
n
d

##### Double For Loops

In [56]:
# CAN run slowly because of exponential impact.  If better way, use that first.

for i in range(5):
    for j in range(5):
        print('i = ',i, 'j = ',j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [57]:
# Syntax
# while keyword, condition statement
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [60]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("Would you like to stop?")
    if user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop? No
Infinite Loop
Would you like to stop? OK
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [63]:
num = 0

while num < 5:
    print("\nWhile in loop iteration: " + str(num))
    
    for i in range(2):
        print("For in loop iteration: ", str(i + 1))
        
    num +=1

While in loop iteration: 0
For in loop iteration:  1
For in loop iteration:  2

While in loop iteration: 1
For in loop iteration:  1
For in loop iteration:  2

While in loop iteration: 2
For in loop iteration:  1
For in loop iteration:  2

While in loop iteration: 3
For in loop iteration:  1
For in loop iteration:  2

While in loop iteration: 4
For in loop iteration:  1
For in loop iteration:  2

### Built-In Functions

##### range()

In [1]:
# range(Start, stop, step) (default below would be (0, 20th number aka 19, 1))
#You can change!  Look at second function.

# for i in range(20):
#     print(i)
    
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

##### len()

In [4]:
#length of a variable
name = "John Durand"
length = len(name)

print(length)
#saving return into a variable allows it to be dynamic

11

##### help()

In [6]:
#Use this function to get more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [10]:
# Check a variable to find out what object family (or data type) it belongs to
# isintance(var, type)

print(isinstance(4.5,int))
# Replace number with a variable like 'num' in practicality

# if isinstance(4.5,float):
#     print("This number is a float type")
    
num = 4.5

if isinstance(num, int):
    print(f"{num} is an integer")
else:
    print("This number is a float")

False
This number is a float type
This number is a float

##### abs()

In [11]:
# gives the absolute value, distance from zero

print(abs(-5))

5

### Try and Except

In [1]:
# Use this to log out graceful and useful error messages 
# Doesn't stop the program!

input_num = int(input('Guess a number:'))
print("Your number is: " + str(input_num))

# try:
#     input_num = int(input('Guess a number:'))
#     print("Your number is: " + str(input_num))
# except:
#     print("That didn't work! Change your input number!")

# NO ERROR WHEN COMMENTED OUT CODE IS USED -> THAT IS WHAT TRY AND EXCEPT IS FOR

Guess a number: 41
Your number is: 41

### Lists

##### Declaring Lists

In [23]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [8]:
#list_name[strat:stop:step]

#Single Index
print(names[1])

#Print starting at index 1 to the end
print(names[1:])

#Print starting at beginning of a list up until a number
print(names[:2])

#Print starting at index 1 going up by 2 in each iteration
print(names[1::2])

#Print at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [26]:
names.append('John')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'John', 'John', 'John']

##### .insert()

In [27]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'John', 'John', 'John']

##### .pop()

In [31]:
# Defaults ro the last value if no parameter was given
# Pop returns the element that was removed in case you want to assign a variable to it

print(names)

my_name = names.pop(3)
print(my_name)
print(names)

['Max', 'Cindy', 'Devon', 'bob', 'Nate']
bob
['Max', 'Cindy', 'Devon', 'Nate']


##### .remove()

In [32]:
# Value to be removed rather than index number
# names.remove('bob')
# print(names)

#remove mulitple of the same names.  In ex. below I've added my own name to the list 3 times FYI

while 'John' in names:
    names.remove('John')
print(names)
#name, 'John' was removed three times and then list was printed.  Readd above to see again

['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [34]:
#Goes by index instead of value
# Be careful with del(), it can cause indexing errors if not used carefully (Look this up for more information)

del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [37]:
# Will append two lists together, will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]
large_list = list_2 + list_3

print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [35]:
# Lists can hold ant type of other element!  Including other lists!!
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [40]:
# Two ways to loop through a list!  One is by index; the other is by using the keyword

#By index:
for i in range(len(names)):
    print(names[i])
    
#By keyword:
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [3]:
n = 0
flag = True

while flag:
    if n**3 <= 1000:
        print(n**3)
        n+=1
    else:
        flag = False

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


# Commented out portion shows the work

# for n in range(2, 101):
#     prime_n = True
    
#     for i in range(2, int(n ** 0.5) + 1):
#         print(str(n ** .5) + ' is the square root of ' + str(n))
#         print(str(i) + ' is being checked to see if divisible by ' + str(n))
#             #square root of n needs to be avaluated as an integer + 1 so the modulo function can accurately identify if all integers below the square root return a value, meaning they are not divisble into n and therefore still a prime number. Mathematical Law confirms validating integers under the square root offset the ones over, making this more efficient.
#         print(n % i)
#         if n % i == 0:
#             print('Not prime')
#             prime_n = False
#             break
            
#     if prime_n:
#         print(str(n) + ' is prime')
        
for n in range(2, 101):
    prime_n = True
    
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            prime_n = False
            break
            
    if prime_n:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [9]:
age = int(input("Please enter your age:"))

if age < 18:
    print(f'Because you are {str(age)}, you\'re a kid.')
elif age < 66:
    print(f'Because you are {str(age)}, you\'re an adult.')
else:
    print(f'You\'re age is {str(age)}, which makes you a senior')

Please enter your age: 41
Because you are 41, you're an adult.